# Copia questo file in ".env" e inserisci i valori del TUO progetto Sanity.
# Li trovi su https://www.sanity.io/manage dopo aver creato il progetto,
# oppure vengono scritti automaticamente da `npm create sanity@latest`.

SANITY_STUDIO_PROJECT_ID=il_tuo_project_id
SANITY_STUDIO_DATASET=production
